<h3>Expected Result</h3>

<div *ngFor="let jsondata of JSONData">
    <div class="contentBlock" *ngFor="let data of getKeys(jsondata)">
        <span class="heading">{{data | camelCase}} : </span>
        <ng-container *ngIf="isValue(jsondata[data])">
            <app-form-controller [objectValue]="jsondata[data]"></app-form-controller>
        </ng-container>
        <div *ngIf="!isValue(jsondata[data])">
            <ng-container *ngTemplateOutlet="arrayTable;context:conToObj(jsondata[data])"></ng-container>
        </div>
    </div>
</div>

<ng-template #arrayTable let-obj="obj">
    <table style="border: 1px solid black">
        <thead>
            <tr>
                <td class="heading" *ngFor="let key of obj">
                    {{getKeys(key) | camelCase}}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let value of obj">
                    <div *ngIf="isValue(getValues(value)[0])">
                        <app-form-controller [objectValue]="getValues(value)[0]"></app-form-controller>
                    </div>
                    <div class="flex-center" *ngIf="!isValue(getValues(value)[0])"
                        (click)="saveData(getValues(value)[0], getValues(getKeys(value)))">
                        <img src='../../assets/view-icon.png' width="20px" height="20px">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>


<ng-template [ngIf]="viewTable">
    <div class="heading">{{keyData | camelCase }} :</div>
    <ng-container *ngTemplateOutlet="arrayTable;context:conToObj(valueData)"></ng-container>
</ng-template>